* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP';
}

body {
  color: aliceblue;
  overflow-x: hidden;
}

main {
  position: absolute;
  width: 100vw;
  height: 200vh;
  z-index: 1;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 50, 91, 0.95), rgba(8, 15, 28, 0.95), rgba(8, 15, 28, 0.95)),
    url('amanogawa.png');
  overflow: hidden;
}

section {
  min-height: 100vh;
  padding: 20px;
  font-size: 1.5rem;
}

.sectionTitle {
  animation: textShadowAnimation 5s linear infinite;
}

@keyframes textShadowAnimation {
  0% {
    text-shadow:
      0 0 2px #fff,
      0 0 2px #fff;
  }

  50% {
    text-shadow:
      0 0 10px rgb(129, 196, 254),
      0 0 15px rgb(129, 196, 254);
  }

  100% {
    text-shadow:
      0 0 5px rgb(129, 196, 254),
      0 0 5px rgb(129, 196, 254);
  }
}

.sectionAnimation {
  opacity: 0;
  animation: slideUp 4s ease-out forwards;
}

@keyframes adjustTransparency {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
